/* Initial config */

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    90deg,
    rgb(227, 255, 248, 0) 82.08%,
    rgb(227, 255, 248, 0.38) 100%
  );
  min-height: 100vh;
}

.page {
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;
}

/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

a {
  color: #1f1534;
  text-decoration: none;
}

ul li a {
  opacity: 0.5;
  font-size: 1.25rem;
}

ul li a:hover {
  font-weight: bold;
  opacity: 1;
}

/* Main */

section {
  display: flex;
  justify-content: space-between;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7d7987;
  margin: 40px 0;
}

section .main-content {
  width: 40%;
}

h1,
ul {
  font-family: "Mulish", sans-serif;
}

h1 {
  font-size: 49px;
  line-height: 56px;
  color: #1f1534;
  font-weight: normal;
  width: 490px;
}

h1 span {
  color: #89c5cc;
  font-weight: bold;
}

button {
  color: white;
  font-family: "Open Sans", sans-serif;
  display: flex;
  background: #69b99d;
  border: 0;
  padding: 20px 40px;
  justify-content: space-around;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #4ea788;
  transition: 0.5s;
}

/* Footer */

footer {
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}

footer a {
  font-weight: bold;
}

/* balls svg */

#balls {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
